<div class="home-container">
	<app-card
		gamePicture="assets/ac-cover.jpg"
		gameLabel="GOTY"
		gamePrice="R$ 80,00"
		gameType="PS4 | PS5"
	>
	</app-card>
	<app-card
		gamePicture="assets/bt-1.jpg"
		gameLabel="Digital"
		gamePrice="R$ 150,00"
		gameType="PS5"
	>
	</app-card>
	<app-card
		gamePicture="assets/bt-4.jpg"
		gameLabel="Digital"
		gamePrice="R$ 50,00"
		gameType="PS4"
	>
	</app-card>
	<app-card
		gamePicture="assets/bt-5.jpg"
		gameLabel="Digital"
		gamePrice="R$ 150,00"
		gameType="PS5"
	>
	</app-card>
	<app-card
		gamePicture="assets/bt-hardline.jpg"
		gameLabel="Digital"
		gamePrice="R$ 150,00"
		gameType="PS5"
	>
	</app-card>
</div>
