.home-container {
	width: 90%;
	margin: auto;
	padding-top: 50px;
	display: flex;

	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
	border: 1px solid white;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

}


